doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/universal.css' type='text/css')
  title Welcome 
#addForm
  h1(style='text-align: center; width:89%') Welcome #{user.name}
  a(href="/editUser/") Edit User Information
   a(href="/login/") Log Out